.heroSection {
  position: relative;
  background-color: var(--second-bg-color);
  text-transform: uppercase;
  height: 650px;
}
.heroSection::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}
.heroSlideImage {
  position: absolute;
  width: 250px;
  top: 220px;
  right: 50px;
  pointer-events: none;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px) scale(1.2);
  }
}

.secondTitle {
  position: relative;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 10px;
  font-family: var(--main-font);
  font-stretch: 50%;
  margin-bottom: 30px;
}
.secondTitle::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 115px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--white-color);
  transition: left 0.3s linear;
}
.heroTextWrapper {
  position: relative;
  z-index: 2;
}
.heroTextWrapper:hover .secondTitle::before {
  left: 355px;
  background-color: var(--main-accent-color);
}
.mainTitle {
  font-size: 30px;
  font-family: var(--main-font);
  font-weight: 700;
  margin-bottom: 30px;
}
.socialLink {
  position: absolute;
  bottom: 25px;
  z-index: 20;
}
.socialLink::before {
  content: '';
  width: 1px;
  height: 50px;
  background: hsla(0, 0%, 49%, 0.4);
  position: absolute;
  left: 8px;
  top: -70px;
}
.socialLink::after {
  font-family: var(--main-font);
  color: #888;
  content: 'SOCIAL';
  position: absolute;
  left: -28px;
  top: -135px;
  letter-spacing: 5px;
  transform: rotate(-90deg);
}
.socialLink > ul:not(:last-child) {
  margin-bottom: 10px;
}
.socialItem:not(:last-child) {
  margin-bottom: 5px;
}
.speciality {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 30px;
  transform: rotateZ(-12deg);
}

@media (max-width: 767px) {
  .heroTextWrapper:hover .secondTitle::before {
    left: 115px;
    background-color: var(--main-accent-color);
  }
}

@media (min-width: 768px) {
  .mainTitle {
    font-size: 50px;
  }
  .secondTitle {
    font-size: 18px;
  }
  .secondTitle::before {
    top: 50%;
    left: 335px;
  }
}

@media (min-width: 990px) {
  .speciality {
    display: block;
  }
  .heroSlideImage {
    display: block;
    top: 170px;
    right: 250px;
    animation: slide 25s 2s alternate infinite linear;
  }
  .heroSection {
    height: 850px;
  }
  .socialLink {
    bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .mainTitle {
    font-size: 60px;
  }
  .speciality {
    bottom: 70px;
  }
  .heroSlideImage {
    top: 220px;
    width: 300px;
    right: 350px;
  }
}
@media (min-width: 1440px) {
  .speciality {
    bottom: 100px;
  }
  .heroSlideImage {
    top: 170px;
    width: 350px;
    right: 450px;
  }
}
