.address {
  font-style: normal;
  margin: 0 auto 30px;
  max-width: 260px;
}
.subscription {
  margin-bottom: 30px;
  font-family: var(--secont-font);
  letter-spacing: 1px;
}
.justDoIt {
  color: var(--main-accent-color);
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.subTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .address {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .address {
    max-width: 300px;
  }
  .title {
    font-size: 30px;
  }
  .subscription {
    font-size: 20px;
  }
  .subTitle {
    font-size: 22px;
  }
  .text {
    font-size: 20px;
  }
  @media (min-width: 1280px) {
    .address {
      max-width: 400px;
    }
  }
}
