.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--burger-bg-color);
  padding: 7px;
  border-radius: 10px;
}

.logoImage {
  width: 300px;
  height: 300px;
}
