.wrapper {
  position: relative;
}

.wrapper::before,
.wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 3000px;
  width: 1px;

  background-color: var(--line-color);
  z-index: 10;
}
.wrapper::before {
  left: 2%;
}
.wrapper::after {
  right: 2%;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

@media (min-width: 1024px) {
  .wrapper::before {
    left: 16%;
  }
  .wrapper::after {
    right: 16%;
  }
  .container {
    max-width: 65%;
  }
}
