.nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.nav::before {
  content: '';
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  display: block;
  width: 100vw;
  height: 1px;
  background-color: var(--line-color);
}
