.menuClose {
  position: fixed;
  top: 90px;
  right: -370px;
  padding: 20px;
  background-color: var(--navMenu-bg-color);
  border: 1px solid var(--line-color);
  border-radius: 5px;
  z-index: 999;
  transition: all 0.3s linear;
}
.menuOpen {
  position: fixed;
  top: 90px;
  right: 0;
  transform: translateX(-40px);
  padding: 20px;
  background-color: rgba(24, 24, 24, 1);
  border: 1px solid var(--line-color);
  border-radius: 5px;

  z-index: 999;
  transition: all 0.3s linear;
}
.item {
  cursor: pointer;
}
.item:not(:last-child) {
  margin-bottom: 30px;
}
.item:hover .imgOverlay {
  visibility: visible;
  opacity: 1;
}
.closeBtn {
  position: absolute;
  top: -25px;
  left: -25px;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  outline-color: var(--line-color);
  cursor: pointer;
}
.imgWrapper {
  position: relative;
}
.imgOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}
.menuText {
  text-transform: uppercase;
  font-size: 50px;
}

@media (min-width: 768px) {
  .menuOpen {
    background-color: var(--navMenu-bg-color);
  }
}

@media (min-width: 1024px) {
  .menuOpen {
    transform: translateX(-100px);
  }
}
