.title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.subtitle {
  text-align: center;
  font-family: var(--secont-font);
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-style: italic;
}
.list {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;

  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 80px;
  z-index: 1;
}
.item {
  max-width: 300px;
}
.item:hover .overlay {
  visibility: visible;
  opacity: 1;
  transform: scale(1.3);
}
.imageWrapper {
  position: relative;
}
.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  padding: 10px;
  background-color: var(--main-bg-color);
  transition: all 0.3s linear;
  z-index: 1;
}
.innerOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--main-accent-color);
  padding: 5px;
  width: 100%;
  height: 100%;
}
.itemTitle {
  font-size: 24px;
  text-align: right;
  margin-bottom: 5px;
}
.date {
  display: block;
  font-size: 12px;
  text-align: right;
  margin-bottom: 15px;
}
.link,
.content {
  font-family: var(--secont-font);
  font-weight: 200;
}
.link {
  margin-bottom: 5px;
  text-align: right;
  justify-item: flex-end;
}
.btnWrap {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.content {
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.stackList {
  font-size: 12px;
  /* display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
  grid-gap: 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: right;
  color: var(--main-accent-color);
  margin-bottom: 15px;
}
.stackItem {
  margin-bottom: 5px;
}
.stackItem:not(:last-child) {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .list {
    max-width: 630px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 55px;
  }
  .list {
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    max-width: 350px;
  }
}
@media (min-width: 1440px) {
  .title {
    font-size: 60px;
  }
  .list {
    max-width: 1440px;
    grid-template-columns: repeat(4, 1fr);
  }
}
