.section {
  position: relative;
  padding: 50px 15px 50px;
  background-color: var(--second-bg-color);
  text-align: center;
}
.section::before,
.section::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--line-color);
}
.section::before {
  top: 0;
  left: 0;
}
.section::after {
  bottom: 0;
  left: 0;
}
.sectionTitle {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 50px;
}
.titleDescription {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 5px;
}

.item {
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--service-bg-color);
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.item:hover .imageOverlay {
  animation: rotate 3s infinite linear;
}
.itemTitle {
  font-size: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.imageWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 2px solid var(--hight-line-color);
  border-radius: 50%;
}
.imageOverlay::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--hight-line-color);
  border-radius: 50%;
}
.itemDescription {
  font-family: var(--secont-font);
  letter-spacing: 1px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 650px;
  }
}

@media (min-width: 1024px) {
  .list {
    max-width: 800px;
  }
  .item {
    max-width: 250px;
  }
  .item:not(:last-child) {
    margin-bottom: 0;
  }
  .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .list {
    max-width: 1024px;
  }
  .item {
    max-width: 300px;
  }
}
@media (min-width: 1440px) {
  .list {
    max-width: 1160px;
  }
  .item {
    max-width: 350px;
  }
  .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 40px;
  }
}
