html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: #ffffff;
  font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topPolygons {
  fill: var(--main-bg-color);
  transform: rotateZ(180deg);
}
.bottomPolygons {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--main-bg-color);
}
.topPolygons--dark {
  fill: var(--second-bg-color);
  transform: rotateZ(180deg);
}
.bottomPolygons--dark {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--second-bg-color);
}
