:root {
  --white-color: #ffffff;
  --main-bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --line-color: rgba(102, 102, 102, 0.3);
  --burger-bg-color: #202020;
  --button-border-color: rgba(102, 102, 102, 0.8);
  --navMenu-bg-color: rgba(24, 24, 24, 0.6);
  --hight-line-color: #555555;
  --service-bg-color: #222222;
  --input-bg-color: #2f2f2f;

  --main-font: 'Oswald', sans-serif;
  --secont-font: 'Raleway', sans-serif;
}
