.wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.map {
  /* position: relative; */
  z-index: 10;
  filter: grayscale(100%) brightness(60%);
}
